image:
  repository: ghcr.io/clicksoft-ko/file-server/file-server
  tag: 6ae9fa1
  pullPolicy: Always

replicas: 1

service:
  type: NodePort
  port: 3000
  nodePort: 30300

storage:
  hostPath: /mnt/c/Data/file-server
  size: 1Ti

resources:
  requests:
    memory: '128Mi'
    cpu: '100m'
  limits:
    memory: '512Mi'
    cpu: '500m'

securityContext:
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000

autoscaling:
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilization: 70
  targetMemoryUtilization: 80
